[submodule "coupling/MUI"]
	path = coupling/MUI
	url = https://github.com/MxUI/MUI.git
[submodule "src/FEniCSx"]
	path = src/FEniCSx
	url = https://github.com/ParaSiF-Proof-of-Concept-Code-Structure/ParaSiF_FEniCSx.git
